{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Edit "{{ company['name'] }}" {% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="InputName">Nama Perusahaan</label>
            <input type="text" id="InputName" class="form-control" name="name" value="{{ request.form['name'] or company['name'] }}" required>
        </div>
        <input type="submit" value="Simpan" class="btn btn-danger w-100">
    </form>
    <hr/>
    <form action="{{ url_for('company.delete', id=company['id']) }}" method="post">
        <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Apakah anda yakin?')">
    </form>
{% endblock %}